.contacts {
  padding: 0;
  background-color: #f4f4f4;
  &__container {
    display: flex;
  }
  &__section {
    width: 50%;
  }
  &__title {
    text-align: left;
  }
  &__info {
    padding: 75px 0 75px 100px;
  }
  &__list {
    margin: 40px 0 0 0;
    padding: 0;
    list-style: none;
    li {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}

@media all and(max-width: 992px) {
  .contacts__info {
    padding-left: 30px;
  }
}
@media all and(max-width: 768px) {
  .contacts__container {
    flex-direction: column;
  }
  .contacts__map {
    height: 300px;
    order: 3;
  }
  .contacts__title {
    text-align: center;
  }
  .contacts__info {
    padding: 75px 0;
  }
  .contacts__section {
    width: 100%;
    text-align: center;
  }
  #map {
    width: 100vw;
    right: -30px;
  }
}
@media all and(max-width: 576px) {
  .contacts__info {
    padding: 50px 0;
  }
}