.header {
  background-color: #f4f4f4;
  padding: 17px 0;
  box-shadow: 0px 4px 8px 0px rgba(57,59,66,0.10);
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__nav {
    display: flex;
    align-items: center;
  }
  .contact-item {
    margin-right: 15px;
  }
}
.logo {
  &__link {
    display: block;
    text-decoration: none;
    color: #252525;
  }
  &__title {
    font-family: 'Bebas';
    font-weight: 700;
    font-size: 22px;
    line-height: 1;
    margin: 0;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.095em;
    span {
      color: $contrast-color;
    }
  }
  &__sub-title {
    font-size: 14px;
    display: block;
    line-height: 1;
  }
}

@media all and(max-width: 576px) {
  .header .contact-item {
    font-size: 0;
    height: 38px;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $contrast-color;
    border-radius: 5px;
    transition: 0.3s;
    .icon {
      fill: #fff;
      margin: 0;
      width: 19px;
      height: 19px;
    }
    &:hover {
      background-color: #01a51c;
    }
  }
}
@media all and(max-width: 420px) {
  .header__container {
    flex-direction: column;
  }
  .header__nav {
    margin-top: 15px;
  }
}