section.section.about
  .container
    .section__head
      h4.title О компании
      span.sub-title Мы делаем хранение в паркинге удобным,<br> производя многофункциональные роллетный шкафы «Люкс-Паркинг». 
    .about__container.row
      .about__section.col
        include gallery-block
      .about__section.about__text.col
        .scroll-box
          .scroll-box__container
            p Предлагаем роллетные шкафы под ключ и выполняем полный комплекс работ от замеров до установки, что помогает заказчикам сэкономить значительную сумму и получить конструкцию, полностью отвечающую их пожеланиям и требованиям пожарной безопасности. Дизайнеры компании разрабатывают индивидуальные проекты, учитывая полученные замеры, потребности и запросы клиентов. На их основании IT-специалистами создаются чертежи для будущих шкафов. Все производственные процессы, начиная от нарезки деталей и до установки фурнитуры, выполняются на современном, высокотехнологичном оборудовании. Конвейерное проведение операций обуславливает изготовление изделий в кратчайшие сроки без потери качества. Квалифицированные мастера компании доставляют шкаф по адресу и выполняют его профессиональную установку в течение 3-4 часов в зависимости от сложности работы. Наши специалисты убирают за собой после сборки и вывозят мусор. Собственное производство шкафов по индивидуальным размерам позволяет полностью удовлетворить потребности клиентов и предложить им изделие высокого качества по выгодной цене.
