section.section.about
  .container
    .section__head
      h4.title О компании
      span.sub-title Мы делаем хранение в паркинге удобным,<br> производя многофункциональные роллетные шкафы «Люкс-Паркинг». 
    .about__container.row
      .about__section.col
        .gallery-block
          .gallery-slider.gallery-area
            a(href="img/gallery/about1.jpg").gallery-slide
              img(data-src="img/gallery/about1.jpg", alt="").lazy
            a(href="img/gallery/about2.jpg").gallery-slide
              img(data-src="img/gallery/about2.jpg", alt="").lazy
            a(href="img/gallery/about3.jpg").gallery-slide
              img(data-src="img/gallery/about3.jpg", alt="").lazy
            a(href="img/gallery/about4.jpg").gallery-slide
              img(data-src="img/gallery/about4.jpg", alt="").lazy
          .gallery-nav
            .gallery-slide.gallery-slide_nav
              img(data-src="img/gallery/about1.jpg", alt="").lazy
            .gallery-slide.gallery-slide_nav
              img(data-src="img/gallery/about2.jpg", alt="").lazy
            .gallery-slide.gallery-slide_nav
              img(data-src="img/gallery/about3.jpg", alt="").lazy
            .gallery-slide.gallery-slide_nav
              img(data-src="img/gallery/about4.jpg", alt="").lazy
      .about__section.about__text.col
        .scroll-box
          .scroll-box__container
            p Предлагаем роллетные шкафы под ключ и выполняем полный комплекс работ от замеров до установки, что помогает заказчикам сэкономить значительную сумму и получить конструкцию, полностью отвечающую их пожеланиям и требованиям пожарной безопасности. Дизайнеры компании разрабатывают индивидуальные проекты, учитывая полученные замеры, потребности и запросы клиентов. На их основании IT-специалистами создаются чертежи для будущих шкафов. Все производственные процессы, начиная от нарезки деталей и до установки фурнитуры, выполняются на современном, высокотехнологичном оборудовании. Конвейерное проведение операций обуславливает изготовление изделий в кратчайшие сроки без потери качества. Квалифицированные мастера компании доставляют шкаф по адресу и выполняют его профессиональную установку в течение 3-4 часов в зависимости от сложности работы. Наши специалисты убирают за собой после сборки и вывозят мусор. Собственное производство шкафов по индивидуальным размерам позволяет полностью удовлетворить потребности клиентов и предложить им изделие высокого качества по выгодной цене.
