section.section.advantages
  .container
    .section__head
      h4.title  
        span ПРЕИМУЩЕСТВА 
        | УСТАНОВКИ РОЛЛЕТНЫХ ШКАФОВ
    .advantages__container.row
      .advantages-block.col
        .advantages-block__container
          <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#car"></use></svg>
          p.advantages-block__text Навсегда решает вопрос хранения колёс, чемоданов, велосипедов, лыж и других крупногабаритных вещей
      .advantages-block.col
        .advantages-block__container
          <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#maintenance"></use></svg>
          p.advantages-block__text Больше не нужно ездить за колёсами на склад вдали от дома. Теперь стало возможным менять и хранить колёса не поднимая их, монтажники сами забирают колёса и ставят сменные обратно
      .advantages-block.col
        .advantages-block__container
          <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#service"></use></svg>
          p.advantages-block__text Удобное решение для паркинга, гаража, общего коридора и другого помещения
      .advantages-block.col
        .advantages-block__container
          <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#project"></use></svg>
          p.advantages-block__text Использует 100% собственности, шкаф устанавливается на место которое не использовалось
      .advantages-block.col
        .advantages-block__container
          <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#creative"></use></svg>
          p.advantages-block__text Роллетные шкафы увеличивают стоимость парковочных мест
      .advantages-block.col
        .advantages-block__container
          <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#assistance"></use></svg>
          p.advantages-block__text Радует<br> удобством<br> в паркинге
