section.section.certificates
  .container
    .section__head
      h4.title.title_small Наши шкафы соответсвуют<br> требованиям безопасности МЧС РФ
    .certificates__container
      .certificates__content.row
        .certificates-block.col
          .certificates-block__container
            img(data-src="img/sert3.jpg", alt="").lazy
        .certificates-block.col
          .certificates-block__container
            img(data-src="img/sert2.jpg", alt="").lazy
        .certificates-block.col
          .certificates-block__container
            img(data-src="img/sert1.jpg", alt="").lazy