section.section.contacts
  .container
    .contacts__container
      .contacts__section.contacts__map
        .map
          #map
      .contacts__section.contacts__info
        .section__head
          h4.title.contacts__title НАШИ 
            span КОНТАКТЫ
        .section__item
          .contact-item ООО “Шкафы на заказ РФ”
        ul.contacts__list
          li
            .contact-item
              <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#smartphone-call"></use></svg>
              | 8 (800) 555 35 35
          li
            .contact-item
              <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#opened-email-envelope"></use></svg>
              | shafnazakazfr@yandex.ru
          li
            .contact-item
              <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#maps-and-flags"></use></svg>
              | г. Москва, Михайловский проезд д. 3с 80 
            