footer.footer
  .container
    .footer__container
      .copy © 2013-2019 Lux-Parking<br> Роллетные шкафы
      .footer__text Информация, опубликованная на Сайте, носит общий характер и служит для ознакомительных целей, не является публичной офертой.