mixin form(title)
  form.form.callbackwidget-call-form
    .form__container
      .form__group
        input(type="text" name="phone" placeholder="+7 (000)  000 - 00 - 00" required).input.form__input.masked-input
      .form__group
        button(type='submit').button.form__button=title