.gallery-block
  .gallery-slider
    .gallery-slide
      img(data-lazy="img/gallery/image1.png", alt="")
    .gallery-slide
      img(data-lazy="img/gallery/image3.png", alt="")
    .gallery-slide
      img(data-lazy="img/gallery/image4.png", alt="")
    .gallery-slide
      img(data-lazy="img/gallery/image5.png", alt="")
    .gallery-slide
      img(data-lazy="img/gallery/image6.png", alt="")
    .gallery-slide
      img(data-lazy="img/gallery/image7.png", alt="")
    .gallery-slide
      img(data-lazy="img/gallery/image8.png", alt="")
    .gallery-slide
      img(data-lazy="img/gallery/image9.png", alt="")
    .gallery-slide
      img(data-lazy="img/gallery/image10.png", alt="")
  .gallery-nav
    .gallery-slide.gallery-slide_nav
      img(data-lazy="img/gallery/image1.png", alt="")
    .gallery-slide.gallery-slide_nav
      img(data-lazy="img/gallery/image3.png", alt="")
    .gallery-slide.gallery-slide_nav
      img(data-lazy="img/gallery/image4.png", alt="")
    .gallery-slide.gallery-slide_nav
      img(data-lazy="img/gallery/image5.png", alt="")
    .gallery-slide.gallery-slide_nav
      img(data-lazy="img/gallery/image6.png", alt="")
    .gallery-slide.gallery-slide_nav
      img(data-lazy="img/gallery/image7.png", alt="")
    .gallery-slide.gallery-slide_nav
      img(data-lazy="img/gallery/image8.png", alt="")
    .gallery-slide.gallery-slide_nav
      img(data-lazy="img/gallery/image9.png", alt="")
    .gallery-slide.gallery-slide_nav
      img(data-lazy="img/gallery/image10.png", alt="")