.gallery-block
  .gallery-slider.gallery-area
    a(href="img/gallery/image1.png").gallery-slide
      img(data-src="img/gallery/image1.png", alt="").lazy
    a(href="img/gallery/image2.png").gallery-slide
      img(data-src="img/gallery/image2.png", alt="").lazy
    a(href="img/gallery/image3.png").gallery-slide
      img(data-src="img/gallery/image3.png", alt="").lazy
    a(href="img/gallery/image4.png").gallery-slide
      img(data-src="img/gallery/image4.png", alt="").lazy
    a(href="img/gallery/image5.png").gallery-slide
      img(data-src="img/gallery/image5.png", alt="").lazy
    a(href="img/gallery/image6.png").gallery-slide
      img(data-src="img/gallery/image6.png", alt="").lazy
    a(href="img/gallery/image7.png").gallery-slide
      img(data-src="img/gallery/image7.png", alt="").lazy
    a(href="img/gallery/image8.png").gallery-slide
      img(data-src="img/gallery/image8.png", alt="").lazy
    a(href="img/gallery/image9.png").gallery-slide
      img(data-src="img/gallery/image9.png", alt="").lazy
    a(href="img/gallery/image10.png").gallery-slide
      img(data-src="img/gallery/image10.png", alt="").lazy
  .gallery-nav
    .gallery-slide.gallery-slide_nav
      img(data-src="img/gallery/image1.png", alt="").lazy
    .gallery-slide.gallery-slide_nav
      img(data-src="img/gallery/image2.png", alt="").lazy
    .gallery-slide.gallery-slide_nav
      img(data-src="img/gallery/image3.png", alt="").lazy
    .gallery-slide.gallery-slide_nav
      img(data-src="img/gallery/image4.png", alt="").lazy
    .gallery-slide.gallery-slide_nav
      img(data-src="img/gallery/image5.png", alt="").lazy
    .gallery-slide.gallery-slide_nav
      img(data-src="img/gallery/image6.png", alt="").lazy
    .gallery-slide.gallery-slide_nav
      img(data-src="img/gallery/image7.png", alt="").lazy
    .gallery-slide.gallery-slide_nav
      img(data-src="img/gallery/image8.png", alt="").lazy
    .gallery-slide.gallery-slide_nav
      img(data-src="img/gallery/image9.png", alt="").lazy
    .gallery-slide.gallery-slide_nav
      img(data-src="img/gallery/image10.png", alt="").lazy