header.header
  .container
    .header__container
      .logo
        a(href="http://lux-parking.ru/").logo__link
          h1.logo__title 
            span Люкс
            | Паркинг
          span.logo__sub-title роллетные шкафы
      .header__nav
        a(href="tel:74951339040").contact-item.contact-item_contrast
          <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#smartphone-call"></use></svg>
          | +7 (495) 133-9040
        a(href="#measurement").button.scroll-link
          span
            <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#square-measument"></use></svg>
            | Бесплатный замер