header.header
  .container
    .header__container
      .logo
        a(href="http://luxparking.ru/").logo__link
          h1.logo__title 
            span Люкс
            | Паркинг
          span.logo__sub-title роллетные шкафы
      .header__nav
        a(href="tel:88005553535").contact-item.contact-item_contrast
          <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#smartphone-call"></use></svg>
          | 8 (800) 555 35 35
        a(href="#").button
          span
            <svg class="icon"><use xlink:href="img/icons/icons-sprite.svg#square-measument"></use></svg>
            | Бесплатный замер