section.section.home
  .container
    .section__head.home__head
      h4.title.title_small Получите <span>3 подарка и скидку 30%</span> на роллетный шкаф в <span>мае!</span>
    .home__form
      include form
      +form('Получить 3 подарка')
    .home__slider
      .home__slide
        img(data-lazy="img/banner/banner-image-1.jpg", alt="")
      .home__slide
        img(data-lazy="img/banner/banner-image-2.jpg", alt="")