section.section.home
  .container
    .section__head.home__head
      h4.title.title_small Получите <span>3 подарка и скидку 30%</span> на роллетный шкаф в <span>мае!</span>
    .home__form
      include form
      +form('Получить 3 подарка')
    .home__slider
      .home__slide
        .home__slide-container
          img(src="img/banner/banner-image2.jpg", alt="")
          ul.home__list
            li.home__item Полки подсвечиваются
            li.home__item Полки  регулируются по высоте
            li.home__item Нагрузостойкость полок 350 кг
            li.home__item Прорезиненые ручки
            li.home__item Невидимый короб ролетты открывается пультом ДУ
      .home__slide
        .home__slide-container
          img(src="img/banner/banner-image1.jpg", alt="")
          ul.home__list
            li.home__item Вентиляционный канал
            li.home__item Гидроизоляция дна
            li.home__item Персонализация шкафа
            li.home__item Технологичный дизайн 
            li.home__item Высокопрочные материалы
            li.home__item Надежный шкаф