section.section.measurement(id='measurement')
  .container
    .section__head.measurement__head
      h4.title.title_small Запишитесь на 
        span.nowrap БЕСПЛАТНЫЙ ЗАМЕР<br>
        | прямо сейчас и получите
    .measurement__container
      ul.measurement__list
        li Точные размеры для изготовления шкафа по индивидуальному проекту
        li Расчет стоимости шкафа, можете быть уверены, что после изготовления стоимость не изменится
        li Бесплатный дизайн-проект вашего шкафа
      .measurement__form
        include form
        +form('Вызвать замерщика')