section.section.offer
  .container
    .section__head
      h4.title ОЧЕНЬ 
        span ВЫГОДНОЕ ПРЕДЛОЖЕНИЕ 
        | В %МАЕ%<br> ПОЛУЧИТЕ 
        span СКИДКУ 30% + ВСЕ 3 ПОДАРКА!
    .offer__container.row
      .offer-block.col
        .offer-block__container
          .offer-block__image.cover-box
            img(data-src="img/offers/image1.png", alt="").lazy
          span.offer-block__title Мешки для<br> хранения шин
      .offer-block.col
        .offer-block__container
          .offer-block__image.cover-box
            img(data-src="img/offers/image2.jpg", alt="").lazy
          span.offer-block__title Колесоотбойники
      .offer-block.col
        .offer-block__container
          .offer-block__image.cover-box
            img(data-src="img/offers/image3.jpg", alt="").lazy
          span.offer-block__title Утроенный срок<br> гарантии – 
            span 3 ГОДА
    .offer__form
      include form
      +form('Получить 3 подарка')