section.section.work
  .container
    .section__head
      h4.title
        span КАК 
        | МЫ РАБОТАЕМ
    .work__container
      .work-stage
        .work-stage__container
          span.work-stage__item
          span.work-stage__title Этап 1
          p.work-stage__text Вы оставляете заявку на сайте. Специалист компании приезжает в удобное время, делает замеры, уточняет ваши пожелания и рассчитывает стоимость шкафа
      .work-stage
        .work-stage__container
          span.work-stage__item
          span.work-stage__title Этап 2
          p.work-stage__text Наши дизайнеры разрабатывают<br> уникальный проект шкафа<br> и согласовывают с вами
      .work-stage
        .work-stage__container
          span.work-stage__item
          span.work-stage__title Этап 3
          p.work-stage__text После согласования всех моментов<br> изготавливается шкаф<br> по индивидуальным размерам
      .work-stage
        .work-stage__container
          span.work-stage__item
          span.work-stage__title Этап 4
          p.work-stage__text Мастера доставляют шкаф на место<br> установки, собирают его, убирают после себя<br> и вывозят мусор
      .work-stage
        .work-stage__container
          span.work-stage__item
          span.work-stage__title Этап 5
          p.work-stage__text После усановки Вы складываете в шкаф шины, автомобильные принадлежности и разные вещи, освобождаете место в квартите и разгружаете балкон. А затем наслаждаетесь порядком, комфортом и уютом